Repository Inlve/type-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: remove challenges folder
  challenges/.gitkeep
  package.json
Due: prettier --write

fix: rollup config import package path bug
  rollup.config.js
Due: yarn lint, prettier --write

chore: add dist ignore and remove dead code
  .gitignore
  .idea/type-challenges.iml
  index.html
Due: none

build: add @type-challenges/utils devDependencies
  .pnp.cjs
  .yarn/cache/@type-challenges-utils-npm-0.1.1-50268fdeb7-ded642e9f1.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

feat: complete "Hello World"
  src/01.Hello World.ts
Due: yarn lint, prettier --write

chore: mod eslint
  .eslintrc
Due: none

feat: complete "Pick"
  src/02.Pick.ts
Due: yarn lint, prettier --write

chore: brief "Pick"
  src/02.Pick.ts
Due: yarn lint, prettier --write

build: add husky init
  package.json
Due: prettier --write

feat: complete "Readonly"
  src/03.Readonly.ts
Due: yarn lint, prettier --write

feat: complete "tuple-to-object"
  src/03.tuple-to-object.ts
Due: yarn lint, prettier --write

chore: rename "tuple-to-object"
  src/04.tuple-to-object.ts
Due: yarn lint, prettier --write

chore: rename, filename to lowercase
  src/01.hello-world.ts
  src/02.pick.ts
  src/03.readonly.ts
Due: yarn lint, prettier --write

feat: complete "first"
  src/05.first.ts
Due: yarn lint, prettier --write

feat: complete "tuple-length"
  src/06.tuple-length.ts
Due: yarn lint, prettier --write

feat: complete "exclude"
  src/07.exclude.ts
Due: yarn lint, prettier --write

feat: complete "awaited"
  src/08.awaited.ts
Due: yarn lint, prettier --write

feat: add template
  src/template.ts
Due: yarn lint, prettier --write

feat: complete "if"
  src/09.if.ts
Due: yarn lint, prettier --write

feat: complete "concat"
  src/10.concat.ts
Due: yarn lint, prettier --write

refactor: build in vscode plugin
  .pnp.cjs
  .yarn/cache/prettier-npm-2.7.1-d1f40f5e1a-55a4409182.zip
  .yarn/cache/prettier-npm-2.8.4-ba64a351d1-c173064bf3.zip
  .yarn/install-state.gz
  .yarn/sdks/prettier/package.json
  package.json
  src/00002-medium-return-type.ts
  src/00003-medium-omit.ts
  src/00004-easy-pick.ts
  src/00005-extreme-readonly-keys.ts
  src/00007-easy-readonly.ts
  src/00013-warm-hello-world.ts
  src/01.hello-world.ts
  src/02.pick.ts
  src/03.readonly.ts
  src/04.tuple-to-object.ts
  src/05.first.ts
  src/06.tuple-length.ts
  src/07.exclude.ts
  src/08.awaited.ts
  src/09.if.ts
  src/10.concat.ts
  src/index.ts
  src/template.ts
  src/test-utils.ts
  src/tsconfig.json
  test-utils.ts
  yarn.lock
Due: yarn lint, prettier --write

ci: add dependabot
  .github/dependabot.yml
Due: none

fix: dependabot config error
  .github/dependabot.yml
Due: none

Create eslint.yml
  .github/workflows/eslint.yml
Due: none

ci: eslint
  .github/workflows/eslint.yml
  .pnp.cjs
  .yarn/cache/@eslint-community-eslint-utils-npm-4.2.0-434cf92d50-82fdd1cc2a.zip
  .yarn/cache/@eslint-community-regexpp-npm-4.4.0-6bee7b2314-2d127af0c7.zip
  .yarn/cache/@eslint-eslintrc-npm-2.0.1-a51f526c2a-56b9192a68.zip
  .yarn/cache/@eslint-js-npm-8.36.0-1f52b8accd-b7d6b84b82.zip
  .yarn/cache/@humanwhocodes-config-array-npm-0.11.8-7955bfecc2-0fd6b3c54f.zip
  .yarn/cache/@microsoft-eslint-formatter-sarif-npm-3.0.0-fe6e25eb71-47c5d2e356.zip
  .yarn/cache/eslint-npm-8.36.0-f8482bce95-e9a961fc3b.zip
  .yarn/cache/espree-npm-9.5.0-ec4786604f-a7f110aefb.zip
  .yarn/cache/esquery-npm-1.5.0-d8f8a06879-aefb0d2596.zip
  .yarn/cache/globals-npm-13.20.0-4565a722e7-ad1ecf914b.zip
  .yarn/cache/jschardet-npm-3.0.0-0a853331a8-f391df4512.zip
  .yarn/cache/utf8-npm-3.0.0-7c39b5994a-cb89a69ad9.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,json}
